/**
*
* Reset CSS | Start
*
**/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**
*
* Reset CSS | END
*
* -----------------------------------------------------------
**/

/**
*
* Header CSS | Start
*
**/

header {
  background: rgb(30, 30, 124);
  color: #fff;
  display: grid;
  justify-content: center;
  width: 100%;
  position: fixed;
  padding: 40px 0;
}

/**
*
* Header CSS | END
*
* -----------------------------------------------------------
**/

/**
*
* Navigation CSS | Start
*
**/

nav * {
  transition: 0.1s ease-in-out;
}

nav a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0 20px;
  margin: 0 20px;
  border-radius: 9px;
}

.active_page {
  color: #000 !important;
  background: white !important;
}

nav a:hover {
  color: #000;
  background: white;
}

/**
*
* Navigation CSS | END
*
* -----------------------------------------------------------
**/

main {
  display: grid;
  grid-template-columns: 500px;
  justify-content: center;
}

form {
  padding: 230px 0 0 0;
  display: grid;
  grid-template-columns: 300px;
  justify-content: center;
  gap: 15px;
}

form h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
}

form input {
  padding: 7px 0;
  border-radius: 7px;
  border: 2px solid #ddd;
  text-align: center;
  outline: none;
}

form input:focus {
  border-color: #000;
}

form input[type="submit"] {
  background: rgb(30, 30, 124);
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}
form input[type="submit"]:focus {
  transform: scale(1.01);
}

/**
*
* Footer CSS | Start
*
**/

footer {
  background: rgb(30, 30, 124);
  position: fixed;
  bottom: 0;
  width: 100%;

  color: #fff;
  padding: 20px 0;
  display: grid;
  justify-content: center;
}

/**
  *
  * Footer CSS | END
  *
  * -----------------------------------------------------------
  **/

/**
*
* Dashboard CSS | Start
*
**/

#dashboard * {
  transition: 0.1s ease-in-out;
}

#dashboard {
  padding: 180px 0 0 0;
  text-align: center;
  display: grid;
  justify-content: center;
}

#dashboard h1 {
  text-align: center;
  padding: 20px 0;
}

#dashboard p {
  margin: 0 0 30px 0;
}

#dashboard a {
  margin: 30px 0 150px 0;
  width: 100px;
  justify-self: center;
  background: #fff;
  display: grid;
  color: rgb(30, 30, 124);
  border-radius: 9px;
  border: 1px solid rgb(30, 30, 124);
}

#dashboard a:hover {
  border-color: #000;
  background: rgb(30, 30, 124);
  color: #fff;
  cursor: pointer;
}

#actions_block {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 20px;
}

.action_item {
  background: #000;
  padding: 40px 0;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 9px;
}

.action_item:hover {
  background: #fff;
  cursor: pointer;
  border-color: #000;
  color: #000;
}

/**
  *
  * Dashboard CSS | END
  *
  * -----------------------------------------------------------
  **/

#error {
  margin: 100px 0 0 0;
  padding: 10px 0;
  background: rgb(191, 46, 46);
  color: #fff;
  position: fixed;
  width: 100%;
  text-align: center;
  transition: 0.1s ease-in-out;
}

/**
*
* Media CSS | Start
*
**/

@media (max-width: 425px) {
  main {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  main {
    grid-template-columns: 100%;
  }

  #actions_block {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 15px;
    justify-content: center;
    padding: 30px 0;
  }
}

/**
  *
  * Media CSS | END
  *
  * -----------------------------------------------------------
  **/
